*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* permet un retour progressif en haut de page */
html{
    scroll-behavior: smooth;
}

/* la couleur par défaut du texte et du fond */
body{
    color: var(--color-texte-blanc);
    background-color: var(--color-fond-rouge);
    font-family: var(--font-texte);
    font-size: var(--size-texte);
    line-height: 1.6;
    text-decoration: none;
}

/* le scroll est suppremier (utiliser lorsque le menu est ouvert) */
.noscroll,
.noscroll body {
  overflow: hidden;
}

/* paragraphes  */
p{
    margin: 5vw;
}

/* titre */
h1{
    font-family: var(--font-manuscrit);
    font-size: var(--size-titre-page);
    text-align: center;
}

/* typo et marges des inter-titres et sous-titres */
h2,
h3{
    font-family: var(--font-machine);
    margin: 7vw;
    margin-bottom: 3vh;
}

/* taille inter-titre */
h2{
    font-size: var(--size-article-intertitre);
}

/* taille sous-titre */
h3{
    font-size: var(--size-article-sous-titre);
}

/* supression des décorations et des couleurs des liens */
a{
    color: var(--color-texte-blanc);
    text-decoration: none;
}

/* mise en forme des liens internes et externes */
.lien,
.claire,
.fonce,
.externe{
    font-style: italic;
    text-decoration: underline;
}

/* met le lien en claire pour etre mieux vue sur un fond fonce */
.claire{
    color: var(--color-lexique-claire);
}

/* met le lien en fonce pour etre mieux vue sur un fond claire */
.fonce{
    color: var(--color-lexique-fonce);
}

.externe{
    font-weight: bold;
    text-decoration: none;
}

/* mise en page globale des citations */
blockquote,
.citation_fonce{
    display: block;
    margin: 3vh;
    padding: 1vh 5vw 1vh 5vw;
    border-left: 2vw dashed var(--color-citation-claire);

    font-style: italic;
    font-weight: bold;
    color: var(--color-citation-claire);
    font-size: var(--size-article-citation);
}

/* couleur noir pour les citaion sur un fond blanc */
.citation_fonce{
    border-left: 2vw dashed var(--color-citation-fonce);
    color: var(--color-citation-fonce);
}

/* centre le texte (utiliser seulement sur la page "autres projets") */
.texte__centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--size-article-sous-titre);
}

/* textes décoratif */
.deco{
    margin-right: 15vw;
    font-family: var(--font-manuscrit);
    font-size: var(--size-element-graphique);
    color: var(--color-elements-graphique);
}

/* marge superieur pour les textes décoratives des pages articles et galeries */
.deco_article{
    display: inline-block;
    margin: 5vh 0 5vh 5vw;
}

/* ligne décoratif */
.ligne_pointie{
    border: none;
    border-bottom: 1vh dashed var(--color-elements-graphique);
    margin-top: 3vh;
    margin-bottom: 4vh;
}

/* espace suplémentaire entre des éléments de différentes sections sur la page d'accueil */
.espace{
    margin: 5vh;
}

/* supression des décorations des listes */
.listUnstyles{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-texte-blanc);
}

/* mise en forme de la video */
.video{
    border: solid var(--color-fond-blanc);
    border-radius: 10px;
    margin-top: 2vh;
}
