*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* permet un retour progressif en haut de page */
html{
    scroll-behavior: smooth;
}

/* la couleur par défaut du texte et du fond */
body{
    color: var(--color-texte-blanc);
    background-color: var(--color-fond-rouge);
    font-family: var(--font-texte);
    font-size: var(--size-texte);
    line-height: 1.6;
    text-decoration: none;
}

/* le scroll est supprimer (utiliser lorsque le menu est ouvert) */
.noscroll,
.noscroll body {
  overflow: hidden;
}

/* paragraphes  */
p{
    margin: 5vw;
    word-wrap: break-word;  
}

/* titre */
h1{
    font-family: var(--font-manuscrit);
    font-size: var(--size-titre-page);
    font-weight: normal;
    text-align: center;
}

/* typo et marges des inter-titres et sous-titres */
h2,
h3{
    font-family: var(--font-machine);
    margin: 7vw;
    margin-bottom: 3vh;
}

/* taille inter-titre */
h2{
    font-size: var(--size-article-intertitre);
}

/* taille sous-titre */
h3{
    font-size: var(--size-article-sous-titre);
}

/* mise en page globale des citations */
blockquote,
.citation_fonce{
    display: block;
    margin: 3vh;
    padding: 1vh 5vw 1vh 5vw;
    border-left: 2vw dashed var(--color-citation-claire);

    font-style: italic;
    font-weight: bold;
    color: var(--color-citation-claire);
    font-size: var(--size-article-citation);
}

/* couleur noir pour les citaion sur un fond blanc */
.citation_fonce{
    border-left: 2vw dashed var(--color-citation-fonce);
    color: var(--color-citation-fonce);
}

.thematique{
    float: left;
    margin: 0.5em 0;
    font-size: 1.5rem;
    font-family: var(--font-manuscrit);
}

/* espace suplémentaire entre des éléments de différentes sections sur la page d'accueil */
.espace{
    margin: 5vh;
}

/* supression des décorations des listes */
.listUnstyles{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-texte-blanc);
}

