img{
    max-width: 100%;
    height: auto;
}

figure{
    margin: 7% ;
}

figcaption{
    font-family: var(--font-texte);
    font-size: 0.88rem;
    text-align: right;
}

/* mise en forme de la video */
.video{
    display: block;
    border: solid var(--color-fond-blanc);
    border-radius: 10px;
    margin: auto auto;
    margin-top: 5vh;
}

/* mise en place du filtre sur les images des tweets */
.tweet__filtre{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
}

/* mise en place du filtre sur les images des header */
.header__filtre{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.6);
}

/* images sur la page "a propos" */

.img__avatar{
    width: 50%;
    padding: 5vw;
    float: left;
}

.img__enveloppe{
    float: right;
    width: 30%;
    margin: 0 3vw;
    margin-right: 7vw;
}