img{
    max-width: 100%;
    height: auto;
}

figure{
    margin: 7% ;
}

figcaption{
    font-family: var(--font-texte);
    font-size: 0.88rem;
    text-align: right;
}

/* images sur la page "a propos" */

.img__avatar{
    width: 50%;
    padding: 5vw;
    float: left;
}

.img__enveloppe{
    float: right;
    width: 30%;
    margin: 0 3vw;
    margin-right: 7vw;
}