*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* permet un retour progressif en haut de page */
html{
    scroll-behavior: smooth;
}

/* la couleur par défaut du texte et du fond */
body{
    margin: 0 auto;
    color: var(--color-texte-blanc);
    background-color: var(--color-fond-rouge);
    font-family: var(--font-texte);
    font-size: var(--size-texte);
    line-height: 1.6;
    text-decoration: none;
}

/* paragraphes  */
p{
    margin: 30px;
}

/* titre */
h1{
    font-family: var(--font-manuscrit);
    font-size: var(--size-titre-page);
    text-align: center;
}

/* inter-titre */
h2{
    font-family: var(--font-machine);
    font-size: var(--size-article-intertitre);
    margin: 30px
}

/* sous-titre */
h3{
    font-family: var(--font-machine);
    font-size: var(--size-article-sous-titre);
    margin: 20px 40px 20px 30px;
}

/* supression des décorations et des couleurs des liens */
a{
    color: var(--color-texte-blanc);
    text-decoration: none;
}

/* mise en page des citations */
blockquote{
    display: block;
    margin: 30px;
    padding: 5px 10px 5px 20px;
    border-left: 5px dashed var(--color-elements-graphique);

    font-style: italic;
    font-weight: 1000;
    color: var(--color-elements-graphique);
    font-size: var(--size-article-citation);
}

/* textes décoratif */
.deco{
    font-family: var(--font-manuscrit);
    font-size: var(--size-element-graphique);
    color: var(--color-elements-graphique);
    margin: 0 6% 0 5%;
}

.deco_article{
    display: inline-block;
    margin: 70px 0 30px 20px;
}

/* ligne décoratif */
.ligne_pointie{
    border: none;
    border-bottom: dashed var(--color-elements-graphique);
    margin-top: 5%;
    margin-bottom: 20px;
}

/* supression des décorations des listes */
.listUnstyles{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-texte-blanc);
}

.espace{
    margin: 8%;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.video{
    border: solid var(--color-fond-blanc);
    border-radius: 1rem;
    margin-top: 1rem;
}

.cache{
    display: block;
    height: 82px;
    background-color: var(--color-fond-noir);
}
