*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* la couleur par défaut du texte et du fond */
body{
    margin: 0 auto;
    color: var(--color-texte-blanc);
    background-color: var(--color-fond-rouge);
    font-family: var(--font-texte);
    font-size: var(--size-texte);
    line-height: 1.6;
    text-decoration: none;
}

p{
    margin: 5%;
}

/* titre */
h1{
    font-family: var(--font-manuscrit);
    font-size: var(--size-titre-page);
    line-height: auto;
    text-align: center;
}

/* sous-titre */
h2{
    font-family: var(--font-machine);
    font-size: var(--size-article-intertitre);
    line-height: auto;    
}

a{
    color: var(--color-texte-blanc);
    text-decoration: none;
}

/* textes décoratif */
.deco{
    font-family: var(--font-manuscrit);
    font-size: var(--size-element-graphique);
    color: var(--color-elements-graphique);
    margin: 0 6% 0 5%;
}

/* ligne décoratif */
.ligne_pointie{
    border: none;
    border-bottom: dashed var(--color-elements-graphique);
    margin-top: 5%;
    margin-bottom: 20px;
}

/* supression des décorations des listes */
.listUnstyles{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-texte-blanc);
}

/*  */
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;

  }

/* tourné la fleche pour qu'elle pointe vers la droite */
.tweet__bouton__img,
.tweet__galerie__bouton,
.tweet__autre__bouton{
    transform: rotate(90deg);
    margin: 10px;
    margin-right: 1px;
}

.espace{
    margin: 8%;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.video{
    border: solid var(--color-fond-blanc);
    border-radius: 1rem;
    margin-top: 1rem;
}

.cache{
    display: block;
    height: 82px;
    background-color: var(--color-fond-noir);
}