img{
    max-width: 100%;
    height: auto;
}

figure{
    margin: 7% ;
}

figcaption{
    font-family: var(--font-texte);
    font-size: 0.88rem;
    text-align: right;
}

/* images sur la page "a propos" */

.img__avatar{
    width: 50%;
    padding: 20px;
    padding-top: 10px;
    float: left;
}

.img__enveloppe{
    float: right;
    width: 7rem;
    margin: 0 20px
}