/* mise en place du texte à côté de la felche */
.frise{
    display: flex;
    height: auto;
    padding: 20px;
    padding-left: 30px;
}


/* LA FLECHE */

/* Mise en forme de la fleche */
.fleche{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 5px 0 0;
    align-items: center;
}

/* le trait de la fleche */
.fleche__ligne{
    width: 30px;
    height: 100%;
    background-color: var(--color-fond-blanc);
}

/* la pointe de la fleche */
.fleche__triangle{
    border-top : 43px solid var(--color-fond-blanc);
    border-right : 25px solid transparent;
    border-left : 25px solid transparent;
}


/* LE TEXTE */

/**/
.frise__texte{
    display: flex;
    align-items: center;
    z-index: 1;
    
}

/* mise en forme des dates */
.texte__date{
    font-family: var(--font-manuscrit);
    font-size: var(--size-date);
}

.texte__fleche{
    left: 10%;
    border-top : 26px solid var(--color-fond-blanc);
    border-right : 16px solid transparent;
    border-left : 16px solid transparent;
}