/* LA PETITE BANNIERE */

/* mise en place et forme de la banniere */
.header__banniere{
    position: fixed;
    z-index: 3;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 2vh 5vw 2vh 3vw;
    align-content: flex-start;
    justify-content: space-between;
    background-color: var(--color-fond-noir);
}

/* mise en place du logo et du bouton de langue */
.header__start{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 3vw;
    margin-top: 1vh;
}

/* mise a l'echelle du logo */
.header__logo{
    width: 40%;
}

/* mise a l'echelle du bouton des langue */
.header__langue{
    width: 40%;
}

/* mise en place du bouton du menu */
.header__end{
    display: flex;
    width: 15vw;
    height: 100%;
    justify-items: center;
}


/* LA GRANDE BANIERRE */

.header__image{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.header__img{
    display: block;
}

/* mise en forme du fond de la banniere sans image */
.header__titre{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 20vh;
    padding-bottom: 2vh;
    background-color: var(--color-fond-noir);
}

/* mise en forme du texte "femmes fortes" */
.femmes_fortes{
    position: absolute;
    width: 100%;
    align-self: flex-start;
    color: var(--color-titre-violet);
    font-size: var(--size-titre-femmes-fortes);
}

/* mise en forme du titre de la page */
.titre{
    position: absolute;
    display: block;
    padding: 0 10%;
    width: 100%;
    align-self: flex-end;
    font-size: var(--size-titre-page);
}

/* element non visible, sert à ce que le menu descende sous la banniere */
.cache{
    display: block;
    height: 10vh;
    background-color: var(--color-fond-noir);
}
