/* mise en formze des lettres */
.lexique__lettre{
    font-family: var(--font-manuscrit);
}

/* mise en forme du mot definie */
.lexique__mot{
    display: inline-block;
    padding: 0 10vw 0 3vw;
    margin: 10px 30px;
    background-color: var(--color-fond-blanc);
    color: var(--color-texte-noir);
}

/* mise en forme de la definition */
.lexique__def{
    display: block;
    margin: 5vw;
    margin-top: 0;
    word-wrap: break-word;  
}

.lexique__ancre{
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
  }