/* mise de la police simple sur les titre de la page "contact" */
.contacte__titre{
    font-family: var(--font-texte);
}

/* mise en majuscule pour le mot "NOM" */
.contact__majuscule{
    text-transform: uppercase;
}

/* mise en forme des champs de saisis */
select,
option,
.champs{
    margin: 0 5vw ;
    width: 85vw;
    height: auto;
    padding: 1vh;
    border: solid var(--color-fond-blanc);
    border-radius: 10px;
    background: var(--color-b-input);
    font-family: var(--font-texte);
    color: var(--color-texte-blanc);
}

/* suppression de la mise en forme basique de la liste */
select,
option{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* mise en place de la fleche dans la liste */
select{
    background-image: url("../../../public/icones/FlecheBlanche.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

option{
    background: var(--color-fond-noir);
}

/* marge pour le captcha */
.marge_capcha{
    margin: 8vw;
    width: 80%;
}

/* mise en forme du texte d'information à la fin du formulaire */
.ps{
    padding: 5vh 5vw 0 0;
    text-align: right;
    font-size: var(--size-tweet-texte);
    color: var(--color-elements-graphique);
}

/* mise en place et forme du popup de confirmation d'envoie du message */
.popup_envoye{
    position: fixed;
    z-index: 1;
    width: auto;
    top: 50%;
    left: 10vw;
    padding: 15px 20px;
    border: 2px solid var(--color-bouton_envoye);
    border-radius: 100px;
    background-color: var(--color-fond-noir);
    text-align: center;
    color: var(--color-bouton_envoye);
}