/* TWEET GENERAL */

/*marges internes/externe, bordures et couleur de fond*/
.tweet{
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: var(--color-fond-blanc);
}

/* mise en forme de l'header des tweets */
.tweet__header,
.tweet__galerie__header{
    position: relative;
    width: 100%;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    overflow: hidden;
    display: flex;
}

/* l'image dans l'header devient un bloque */
.tweet__img{
    display: block;
}

/* mise en place et forme du titre dans l'header*/
.tweet__title,
.tweet__galerie__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    color: var(--color-texte-blanc);
    font-family: var(--font-machine);
    font-size: var(--size-tweet-titre);
    background-color: rgba(0,0,0,0.5);
}

/* mise en place du filtre sur les images des tweets */
.tweet__filtre{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
}

/* marge, police et taille du texte */
.tweet__texte{
    margin: 0.5rem;
    font-size: var(--size-tweet-texte);
    color: var(--color-texte-noir);
}

/* mise en forme des boutons dans les tweets "article" */
.tweet__bouton{
    color: var(--color-texte-noir);
    font-family: var(--font-manuscrit);
    font-size: var(--size-bouton);
    margin-top: -1rem;
    margin-bottom: 0.2rem;
    justify-content: flex-end;
}

/* TWEET DE LA GALERIE */

/* mise en forme des tweet "galerie" */
.tweet__galerie{
    position: relative;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
}

/* arrondie de l'image */
.tweet__galerie__header{
    border-radius: 1rem;
}

/* arrondie du fond du texte */
.tweet__galerie__title{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* mise en place et forme du bouton par rapport à l'image */
.tweet__galerie__bouton{  
    position: absolute;
    right: -5px;
    top: -10px;
    padding: 10px;
    border-radius: 0 0 10px 0;
    background-color: var(--color-fond-blanc);
}


/* TWEET FRISE + AUTRES PROJETS */

/* mise en forme du tweet */
.tweet__autre__header{
    position: relative;
    width: 100%;
    align-items: top;
    display: block;
}

/* mise en forme du titre */
.tweet__autre__title{
    margin-top: -0.1rem;
    padding: 0.5rem;
    color: var(--color-texte-noir);
    font-family: var(--font-machine);
    font-size: var(--size-tweet-titre);
}

/* mise en place du bouton du tweet */
.tweet__autre__bouton{
    position: absolute;
    right: 2%;
    top: 5%;   
}
