/*marges internes/ externe, bordur et couleur de fond*/
.tweet{
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: var(--color-fond-blanc);
}

/*position de l'image, taille, */
.tweet__header,
.tweet__galerie__header{
    position: relative;
    width: 100%;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    align-items: center;
    overflow: hidden;
    display: flex;
}

/* l'image devient un bloque */
.tweet__img{
    display: block;
}

/* le titre se place par rapport à l'header, position, police, taille, fond...*/
.tweet__title,
.tweet__galerie__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    color: var(--color-texte-blanc);
    font-family: var(--font-machine);
    font-size: var(--size-tweet-titre);
    background-color: rgba(0,0,0,0.5);
}

/* marge, police et taille du texte */
.tweet__texte{
    margin: 0.5rem;
    font-size: var(--size-tweet-texte);
    color: var(--color-texte-noir);
}

/* texte du bouton + placement dans le tweet + placement alignement du texte et de la fleche */
.tweet__bouton,
.bouton__contenu{
    font-family: var(--font-manuscrit);
    font-size: var(--size-bouton);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
}

.tweet__bouton{
    color: var(--color-texte-noir);
    font-family: var(--font-manuscrit);
    font-size: var(--size-bouton);
    margin-top: -1rem;
    margin-bottom: 0.2rem;
    justify-content: flex-end;
}

/* TWEET DE LA GALERIE */

.tweet__galerie{
    position: relative;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
}

/* arrondie de l'image */
.tweet__galerie__header{
    border-radius: 1rem;
}

/* arrondie du fond du texte */
.tweet__galerie__title{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* placement du bouton par rapport à l'image */
.tweet__galerie__bouton{  
    position: absolute;
    right: 1%;
    top: 0%;
}


/* TWEET FRISE + AUTRES PROJETS */


.tweet__autre__header{
    position: relative;
    width: 100%;
    align-items: top;
    display: block;
}

/* marges, couleur, police et taille du titre */
.tweet__autre__title{
    margin-top: -0.1rem;
    padding: 0.5rem;
    color: var(--color-texte-noir);
    font-family: var(--font-machine);
    font-size: var(--size-tweet-titre);
}

/* Bouton autre pages */
.tweet__autre__bouton{
    position: absolute;
    right: 1%;
    top: 5%;   
}

/* BOUTONS NOIRS */


/* Boutons */

/* alignement en centrage des boutons */
.boutons__aligne--horizontal{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

/* les boutons */
.bouton__contenu{
    background-color: var(--color-fond-noir);
    height: 50px;
    width: max-content;
}