footer{
    background-color: var(--color-fond-noir);
    color: var(--color-texte-footer);
    padding: 5px 30px;
    margin-top: 50px;

}

.footer__header{
    margin-top: 20px;
    padding: 0;
}

.footer__header__texte{
    padding: 0;
    margin: 0;
    font-style: normal;
    margin-top: 5px;
}

.footer__header__mail{
    color: var(--color-texte-footer);
    font-size: var(--size-bouton);
}

.footer__liste-reseaux{
    display: flex;
    justify-content: space-between;
    margin: 5%
} 

.footer__liste-menu{
    font-size: var(--size-bouton);
    margin-bottom: 1.5rem;
}

.footer__liste-item{
    margin: 0.7rem;
}

.footer__footer{
    display: block;
    margin: -10px;
}

.footer__img{
    float: right;
    margin-top: 30px;
    margin-left: 10px;
}

.footer__mention{
    margin-left: -20px;
}