.header{
    position: absolute;
    width: 100%;
}
.header__banniere{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 20px 0px 10px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    background-color: var(--color-fond-noir);
}

.header__start{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px
}

.header__end{
    display: flex;
    align-items: center;
}

.header__titre{
    background-color: var(--color-fond-noir);
    padding-bottom: 10px;
}

.femmes_fortes{
    color: var(--color-titre-violet);
    font-size: var(--size-titre-femmes-fortes);
    background-color: rgba(0,0,0,0.50);
}

.titre{
    font-size: var(--size-titre-page);
    background-color: rgba(0,0,0,0.50);
}

/* Image de fond de chaque header */

.header__revolution{
    background-image: url("../../img/header/header_article_revolution.webp");
    background-size: contain;
    width: 100%;
    height: 160px;
    display: grid;
}

.header__interview{
    background-image: url("../../img/header/header_article_interview.webp");
    background-size: contain;
    width: 100%;
    height: 160px;
    display: grid;
}

.header__livre{
    background-image: url("../../img/header/header_article_livre.webp");
    background-size: contain;
    width: 100%;
    height: 160px;
    display: grid;
}

.header__science{
    background-image: url("../../img/header/header_galerie_science.webp");
    background-size: contain;
    width: 100%;
    height: 160px;
    display: grid;
}

.header__activistes{
    background-image: url("../../img/header/header_galerie_activistes.webp");
    background-size: contain;
    width: 100%;
    height: 160px;
    display: grid;
}

.header__politique{
    background-image: url("../../img/header/header_galerie_politique.webp");
    background-size: contain;
    width: 100%;
    height: 160px;
    display: grid;
}